<!DOCTYPE html>
<html lang="ua" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Каталог</title>
    <link rel="stylesheet" th:href="@{/home.css}">

</head>
<body>
<header th:insert="blocks/header :: header"></header>

<p class="p_text p_text_top">Детально про товар</p>


<div class="div_database_wrapper">

    <div th:each="el : ${product}" class="div_database_details">
        <p class="p_database" th:text="${el.title}"></p>
        <p class="p_database_description" th:text="${el.description}"></p>


        <div class="product_photo_div">
            <div th:each="photo : ${photos}">
                <img th:src="@{/photos/{id}(id=${photo.id})}" class="product_photo" style="border-radius: 30px"/><br><br>
            </div>
        </div>


        <p class="p_database" style="font-size: 20px; margin-top: -60px;">Ціна</p>
        <p th:text="${el.price} + ' грн.'" style="font-size: 35px; text-align: center; margin-bottom: 100px"></p>


        <div class="details_edit" sec:authorize="isAuthenticated()">
            <a class="p_details" th:href="'/catalog/' + ${el.id} + '/edit'">Редагувати</a>
            <form th:action="'/catalog/' + ${el.id} + '/delete'" method="post">
                <button th:href="'/catalog/' + ${el.id} + '/delete'" class="p_details" type="submit">Видалити</button>
            </form>
        </div>

    </div>




</div>

<header th:insert="blocks/footer :: footer"></header>
</body>
</html>