<!DOCTYPE html>
<html lang="ua" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Головна</title>
    <link rel="stylesheet" th:href="@{/home.css}">
</head>
<body>
    <header th:insert="blocks/header :: header"></header>

    <p class="p_text p_text_top">Do you want something amazing? </p>
    <div class="div_image1"></div>
    <p class="p_text">Buy a new iPhone 14 Pro Max!</p>
    <div class="div_image2"></div>

    <header th:insert="blocks/footer :: footer"></header>
</body>
</html>