<div th:fragment="header">
    <div class="header">
        <button class="header_button"><a href="/">Головна</a></button>
        <button class="header_button"><a href="/catalog">Каталог</a></button>
        <button sec:authorize="isAuthenticated()" class="header_button"><a href="/catalog/add">Додати товар</a></button>

            <form th:action="@{/logout}" method="post">
                <input sec:authorize="isAuthenticated()" type="submit" value="Вийти" style="background: black; color: #bdbdbd;
                font-family: optimum, serif; font-size: 20px;"/>
            </form>

            <form th:action="@{/login}" method="post">
                <button sec:authorize="!isAuthenticated()" class="header_button"><a href="/login">Вхід</a></button>
            </form>

    </div>
</div>